@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/AmsterdamOne/Amsterdam-one-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/AmsterdamOne/Amsterdam-one-slant-400.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
